*{
    margin:0;
    padding: 0;;
    
}


/* Nav Bar */
.nav{
     display:flex;
     justify-content: space-between;
     margin-left: 150px;
     align-items: center;
    


}

.color{
   background-color:  rgb(78, 71, 255);
}
.logo{
    color: rgb(78, 71, 255);;
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 50px;
    margin-right: 150px;
    
}

.sign-up{
    background-color: rgb(78, 71, 255);

    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    border-style: none;
    margin-top: 50px;
    margin-right: 150px;
    width: 132px;
    height: 48px;

}
/* starting banner */

.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover; 
    height: 100vh;
    
}
/* banner content */
.banner-content{
    display: flex;
    font-family: Raleway;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 309px;
    

    
}

.banner-title{
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 905px;
    /* max-height: 152px ; */
    height: 237px;
}
.focus{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 36px 12px 36px;
border-radius: 10px;
border-style: none;

}



/* Starting the main-action section */ 
.action{
    display:flex;
    justify-content: center;
    margin:116px 160px 116px 141px;
    height:328px;
    gap:220px;
    line-break: 23px;

}
.action-content{
    width: 517px;
    height: 203px;
}

.ac-title{
    color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 42px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0%;
text-align: left;
   
}
.ac-subtitle{
   color: rgba(37, 36, 50, 0.5);
font-family: Raleway;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin: 23px 0px;
position: static;
width: 517px;
height: 60px;



padding: 0px;

}
.ac-image{
    width: 403px;
    height: 328px;
    margin:  0 10px;
    border-radius:48px ;
    padding:0px;
}
.ac-button{
    width: 229px;
height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 36px 12px 36px;
    margin: 0px 10px;
    border-radius: 10px;
    border-style: none;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}