/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* landing font */

.landing-font {
    
font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sign-up font */

.sign-up{
   color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
list-style: none;


    
}

/* nav bar*/



nav{
    display:flex;
    justify-content: space-around;
    
    

}
.logo{
    color: rgb(78, 71, 255);
font-family: Inter;
font-size: 34px;
font-weight: 900;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin-top: 50px;
}

nav ul li button{
   list-style: none;
    background-color: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    margin: 0px 16px;
    gap: 10px;
    border: none;

    margin-top: 50px;
}
nav ul li{
    list-style: none;
    
}


/*banner bg*/

.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}